[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
django = ">=4.1"
wagtail = ">=4.1"
django-bootstrap4 = "*"
psycopg2-binary = "*"
wagtail-photo-voter = ">=0.10.3"
#wagtail-photo-voter = {path = "../wagtail_photo_voter", editable = true}
django-simple-history = "*"

[requires]
python_version = "3.8"
